<body>


  <div id="titolo" align="center">






    <h1>🖖 Ciao, Sono Ousema Ben Farah</h1>




    <div align="center">

      <div id="badges">
        <a href="https://www.linkedin.com/in/ousemabenfarah/">
          <img src="https://img.shields.io/badge/LinkedIn-blue?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn Badge"/>
        </a>
      </div>
      <br>
      ❓ ABOUT ME <br> <br>
      <strong>Sono un Junior Full-Stack Developer Italiano 🇮🇹.</strong> <br> <br> <br>
    </div>
  </div>





  <div id="testo" align="center">
    Ho recentemente completato un corso avanzato di formazione come sviluppatore Full-Stack, dove ho acquisito competenze approfondite in linguaggi di programmazione quali HTML, CSS, JavaScript, TypeScript e Angular. La mia esperienza pratica comprende progetti che vanno dalla creazione di siti web responsive all'implementazione di applicazioni web complesse. Inoltre, ho acquisito familiarità con tecnologie come JQuery, Java e SQL Server, che mi hanno permesso di sviluppare soluzioni web versatili e performanti.
    <br>
    Sono convinto che la chiave per una presenza online di successo risieda nella combinazione di design accattivante, funzionalità intuitiva e prestazioni ottimali. Ho lavorato su una varietà di progetti che mettono in pratica questi principi, ottenendo risultati tangibili, come l'aumento delle conversioni e una migliore esperienza utente.
    <div align="center">
      <br>

      Se stai cercando uno sviluppatore full stack junior con competenze specifiche, non esitare a contattarmi. Possiamo creare progetti entusiasmanti e di successo!
    </div>

    <div align="center">
      <hr>
    </div>



    <div id="imm">
      <img src="../assets/html5-original.svg" title="html" alt="Html5" width="40" height="40"/>&nbsp;
      <img src="../assets/css3-original.svg" title="CSS" alt="CSS" width="40" height="40"/>&nbsp;
      <img src="../assets/js.jpg" title="JS" alt="Js" width="40" height="40"/>&nbsp;
      <img src="../assets/ts.png" title="Typescript" alt="Ts" width="40" height="40"/>&nbsp;
      <img src="../assets/java-original-wordmark.svg" title="Java" alt="Java" width="40" height="40"/>&nbsp;
      <img src="../assets/angularjs-original.svg" title="Angular" alt="angular" width="40"    height="40"/>&nbsp;
      <img src="../assets/git-original-wordmark.svg" title="git" alt="git" width="70" height="40"/>&nbsp;
      <img src="../assets/microsoftsqlserver-plain.svg" title="SQL" alt="Sass" width="40" height="40"/>&nbsp;
      <img src="../assets/sass-original.svg" title="Git" alt="Git" width="40" height="40"/>&nbsp;
      <img src="../assets/bootstrap-original.svg" title="bootstrap" alt="bootstrap" width="40" height="40"/>&nbsp;
      <img src="../assets/vscode-original.svg" title="vscode" alt="vscode" width="40" height="40"/>&nbsp;
    </div>

  </div>
  </body>

